/* element selectors */
h1 {
  color: red;
  font-size: 3rem;
}
h2 {
  color: green;
}
/* p {
  color: grey;
} */

h1,
h2 {
  color: blue;
}
/* id matching selectors should be unique*/
#heading {
  color: green;
  background-color: black;
}
#footer {
  color: yellow;
  background-color: black;
}

/* class selectors can be reused */

.green {
  color: green;
  background-color: black;
}
.red {
  color: red;
  background-color: black;
}

#title {
  font-size: medium;
  text-transform: lowercase;
}

/* DIV SPAN      span is for inline styling and div is for block styling, we can also use ids classes inside div*/
div {
  color: red;
  background-color: black;
}
span {
  text-transform: uppercase;
}
